<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB3J8OHUhiF5CM46E3rkVgBfGBpLFBN49w</string>
	<key>GCM_SENDER_ID</key>
	<string>289822193769</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mytaskapp</string>
	<key>PROJECT_ID</key>
	<string>aunthentication-4baea</string>
	<key>STORAGE_BUCKET</key>
	<string>aunthentication-4baea.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:289822193769:ios:6f14f53226bd2f22644af8</string>
</dict>
</plist>